/* STYLESHEET */

/* NAVBAR STYLES */

#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 0;
}

#header-nav .container {
    margin-left: 0;
    margin-right: 0;
}

.navbar-brand h1 {
    color: black;
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}


.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

li > p {
    text-align: center;
    padding-right: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

/* MENU ITEMS */

.content-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.4em;
}

.section-title {
    padding-top: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.sect {
    background: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding-top: 0;
    padding-left: 10px;
    padding-right:10px;
    margin: 0 auto 15px;
    height: 500px;
}

/* MEDIA QUERIES */


/* Desktop - md class */ 

@media (min-width: 768px) {
    .menu-item {
        width: 95%;
    }
}

/* Tablet - sm class */

@media (min-width: 576px) and (max-width: 767px) {
    .menu-item {
        width: 85%;
    } 
    #collapsable-nav {
        background: white;
    }
}

/* Mobile - xs class */

@media (max-width: 575px) {
    #collapsable-nav {
        background: white;
    }
}

